<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    

    <script src="~/lib/jquery/jquery-3.3.1.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="~/js/site.js"></script>
	<!-- Owl-Carousel-JavaScript -->
	<script src="~/js/owl.carousel.js"></script>

    <!-- .NET code -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <!-- Bootstrap mall länkar -->
	<!-- //Web-Fonts -->
    <link rel="stylesheet" href="~/css/fontawesome-all.css">
	<!-- Font-Awesome-Icons-CSS -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css" media="all" />
	<link rel="stylesheet" href="~/css/owl.theme.default.min.css" type="text/css" media="all" />
	<!-- Owl-Carousel-CSS -->

	<!-- Web-Fonts -->
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext"
	    rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet"> 

        @RenderSection("header", required: false)
</head>
<body>
    <header>
		<!-- navigation -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="index.html">
				Go2Sweden</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
			    aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>		


			<div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto text-center mr-lg-5">
                    <li class="nav-item mr-lg-2 mb-lg-0 mb-2"><a class="nav-link"  asp-area="" asp-controller="Home" asp-action="Index">Hem</a></li>
                    <li class="nav-item mr-lg-2 mb-lg-0 mb-2"><a class="nav-link"  asp-area="" asp-controller="Home" asp-action="Evenemang">Evenemang</a></li>
                    <li class="nav-item mr-lg-2 mb-lg-0 mb-2"><a class="nav-link"  asp-area="" asp-controller="Home" asp-action="Kontakt">Kontakt</a></li>
                </ul>
            </div>	
		</nav>
		<!-- //navigation -->

	</header>
        @RenderBody()
    
</body>

<footer class="py-md-5 py-4">
		<div class="container">
			<div class="row w3ls_footer_grid text-lg-left text-center pb-lg-5 pb-4 mt-xl-4 mt-1 mb-xl-5 mb-4">
				<div class="col-lg-5 footer-w3l">
					<h5>OS i Sverige 2024</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-6 w3ls_footer_grid_right">
					<h1>
						<a href="index.html">
							Sverige OS 2024</a>
					</h1>
				</div>
				<div class="col-lg-3 col-6 w3ls_footer_grid_left1_pos mt-2 text-lg-left text-sm-right text-center">
					<ul>
						<li class="mr-3">
							<a href="#" class="facebook">
								<i class="fab fa-facebook-f mr-2"></i>Facebook</a>
						</li>
						<li>
							<a href="#" class="twitter">
								<i class="fab fa-twitter mr-2"></i>Twitter</a>
						</li>
					</ul>
				</div>
				<div class="col-lg-6 w3ls_footer_grid1_left mt-lg-2 mt-4 text-lg-right text-center">
					<p>&copy; 2018 Sverige OS 2024. All rights reserved | Design by
						<a href="http://w3layouts.com/">W3layouts</a>
					</p>
				</div>
			</div>
		</div>
	</footer>

</html>
