@{
    ViewData["Title"] = "Evenemang Page";
}
@section header {
	<script src="js/SmoothScroll.min.js"></script>
	<script src="js/move-top.js"></script>
	<script src="js/easing.js"></script>
    <script src="~/js/Home/index.js"></script>
    <link rel="stylesheet" href="~/css/index.css"></link>
}

<h2>Evenemang</h2>  