@{
    ViewData["Title"] = "Evenemang Page";
}
@section header {
	<script src="js/SmoothScroll.min.js"></script>
	<script src="js/move-top.js"></script>
	<script src="js/easing.js"></script>
    <script src="~/js/Home/index.js"></script>
    <link rel="stylesheet" href="~/css/index.css"></link>
}

<body>
	<!-- header -->
	<header>

		<!-- inner banner -->
		<div class="inner-banner text-center text-white">
			<ul class="w3_short">
				<li>
					<a asp-area="" asp-controller="Home" asp-action="Index">Hem</a>
					<i>||</i>
				</li>
				<li>Evenemang</li>
			</ul>
		</div>
		<!-- //inner banner -->
	</header>
	<!-- //header -->

	<!-- about -->
	<div class="about-w3l py-sm-5 py-4">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="title mb-lg-5 mb-sm-4 mb-3">
				<span>E</span>venemang</h3>
			<div class="row">
				<div class="col-xl-7 ab-left">
					<img src="images/projektlogga.png" alt=" " class="img-fluid" />
				</div>
				<div class="col-xl-5 ab-right">
					<h3 class="mb-4 pb-4">Sverige OS 2024</h3>
					<p>Thank you for taking the time to visit our site! sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					<p class="mt-3">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- //about -->

	<!-- middle slider -->
	<div class="w3agile-spldishes py-sm-5 py-4">
		<div class="container  py-xl-3">
			<h3 class="title text-white text-center mb-lg-5 mb-sm-4 mb-3">
				<span>O</span>S
				<span>20</span>24</h3>
		</div>
	</div>
	<!-- //middle slider -->

	<!-- team -->
	<div class="w3ls-team py-sm-5 py-4">
		<div class="container py-xl-5 py-lg-3">
			<div class="row team-grids">
				<div class="col-lg-9">
					<div class="row">
						<div class="col-4 w3_agileits-team1">
							<img class="img-fluid" src="images/projektlogga.png" alt="">
							<h5 class="mt-3">Stockholm</h5>
							<p>Sveriges huvudstad</p>
							<div class="social-icons mt-2">
								<ul>
									<li>
										<a href="#" class="fab fa-facebook-f icon-border facebook"> </a>
									</li>
									<li class="mx-1">
										<a href="#" class="fab fa-twitter  icon-border twitter"> </a>
									</li>
									<li>
										<a href="#" class="fab fa-google-plus-g icon-border googleplus"> </a>
									</li>
								</ul>
							</div>
						</div>
					</div>
										<div class="row">
						<div class="col-4 w3_agileits-team1">
							<img class="img-fluid" src="images/projektlogga.png" alt="">
							<h5 class="mt-3">Åre</h5>
							<p>Sveriges skid mecka</p>
							<div class="social-icons mt-2">
								<ul>
									<li>
										<a href="#" class="fab fa-facebook-f icon-border facebook"> </a>
									</li>
									<li class="mx-1">
										<a href="#" class="fab fa-twitter  icon-border twitter"> </a>
									</li>
									<li>
										<a href="#" class="fab fa-google-plus-g icon-border googleplus"> </a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-4 w3_agileits-team1">
							<img class="img-fluid" src="images/projektlogga.png" alt="">
							<h5 class="mt-3">Falun</h5>
							<p>Ett världsarv</p>
							<div class="social-icons mt-2">
								<ul>
									<li>
										<a href="#" class="fab fa-facebook-f icon-border facebook"> </a>
									</li>
									<li class="mx-1">
										<a href="#" class="fab fa-twitter  icon-border twitter"> </a>
									</li>
									<li>
										<a href="#" class="fab fa-google-plus-g icon-border googleplus"> </a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 team-right">
					<h3 class="title mb-sm-4 mb-3">
						<span>O</span>S
						<span>s</span>täderna</h3>
					<p>Mycket noga valda platser för att göra OS till det bästa någonsin</p>
				</div>
			</div>
		</div>
	</div>
	<!-- //team -->

	<!-- middle section -->
	<div class="middle-w3l py-sm-5 py-4">
		<div class="container py-xl-5 py-lg-3">
			<h2>Har du frågor kring evenemanget?</h2>
			<p class="my-md-4 my-2">Vi finns tillgängliga dynget runt ända fram till sista OS grenen</p>
			<a asp-area="" asp-controller="Home" asp-action="Kontakt" class="btn btn-secondary btn-lg button2-w3l mt-4" role="button" aria-pressed="true">Kontakta oss</a>
		</div>
	</div>
	<!-- //middle section -->
    </body> 