@model go2sweden.Models.IndexViewModel;

@{
    ViewData["Title"] = @Model.Title;
}

@section header {
	<script src="js/SmoothScroll.min.js"></script>
	<script src="js/move-top.js"></script>
	<script src="js/easing.js"></script>
    <script src="~/js/index.js"></script>
    <link rel="stylesheet" href="~/css/index.css"></link>
}

<body>
	<!-- header -->
		<!-- carousel slider -->
	
				<div class="item1 active">
					<div class="w3l-overlay">
						<div class="container">
							<div class="slider-text text-white p-lg-5 p-4">
								<h6>Sök din resa genom OS 2024</h6>
								<h3 class="mt-lg-3 mt-2 mb-lg-4 mb-3">Från hela världen till OS byn</h3>
						

							<div class="form-group">
								<label class="col-form-label">From</label>
								<input type="text" class="form-control" placeholder="Where do you want to travel from?" name="to" id="fromDestination" required="">
							</div>
							<div class="form-group">
								<label class="col-form-label">To</label>
								<select class="category form-control" id="toDestination" required="">
									<option value="Stockholm">Stockholm</option>
									<option value="Åre">Åre</option>
									<option value="Falun">Falun</option>
								</select>
							</div>
							<button id="apisearch">SEARCH</button>
							</div>
						</div>
					</div>
					<div>
						<ul id="names">
							<li>
							</li>
						</ul>
					</div>
				</div>
		<!-- //carousel slider -->

	<!-- //header -->

	<!-- welcome -->
	<div class="about py-sm-5 py-4">
		<div class="container">
			<div class="row py-xl-5 py-lg-3">
				<div class="col-lg-7 about-left">
					<h5>We are best in this industry from last 30 Years.</h5>
					<p class="mt-md-3 mt-2 mb-lg-5 mb-4">Masagni dolores eoquie int Basmodi temporant, ut laboreas dolore magnam aliquam kuytase uaeraquis autem vel eum iure
						reprehend.Unicmquam eius, Basmodi temurer sehsMunim.Sed ut perspiciatis unde omnis iste natus error sit voluptatem
						accusantium doloremque laudantium.</p>
					<h6 class="mb-lg-4 mb-3">Our Benefits</h6>
					<ul>
						<li class="mb-2">
							<i class="fas fa-check mr-3"></i>Best Tracking system on every step</li>
						<li class="mb-2">
							<i class="fas fa-check mr-3"></i>Free Insurance for your goods</li>
						<li class="mb-2">
							<i class="fas fa-check mr-3"></i>100% Safe and Secure Transport</li>
						<li class="mb-2">
							<i class="fas fa-check mr-3"></i>Best Tracking system on every step</li>
						<li class="mb-2">
							<i class="fas fa-check mr-3"></i>Free Insurance for your goods</li>
					</ul>
				</div>
				<div class="col-lg-5">
					<div class="about-right px-lg-4 py-lg-3 p-4">
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //welcome -->

	<!-- middle slider -->
	<div class="w3agile-spldishes py-sm-5 py-4">
		<div class="container  py-xl-3">
			<h3 class="title text-white text-center mb-lg-5 mb-sm-4 mb-3">
				<span>S</span>täder
				<span>OS</span>2024</h3>
			<div class="spldishes-grids">
				<div class="large-12 columns">
					<!-- Owl-Carousel -->
					<div id="owl-demo" class="owl-carousel owl-theme text-center agileinfo-gallery-row">
						<a class="item g1">
							<img class="lazyOwl img-fluid" src="images/are.jpg" title="Åre" alt="" />
						</a>
						<a class="item g1">
							<img class="lazyOwl img-fluid" src="images/hammarbybacken.jpg" title="Hammarbybacken" alt="" />
						</a>
						<a class="item g1">
							<img class="lazyOwl img-fluid" src="images/falun.jpg" title="Falun" alt="" />
						</a>
						<a class="item g1">
							<img class="lazyOwl img-fluid" src="images/falun1.jpeg" title="Falun" alt="" />
						</a>
						<a class="item g1">
							<img class="lazyOwl img-fluid" src="images/are1.jpg" title="Falun" alt="" />
						</a>
						<a class="item g1">
							<img class="lazyOwl img-fluid" src="images/globen.jpg" title="Falun" alt="" />
						</a>
					</div><br>
					<a class="button secondary btn py-2 px-4 play">Play</a>
					<a class="button secondary btn py-2 px-4 stop">Stop</a>
				</div>
			</div>
		</div>
	</div>
	<!-- //middle slider -->

	<!-- feature -->
	<div class="spe-w3l py-sm-5 py-4">
		<div class="container-fluid">
			<div class="row wthree-services-bottom-grids py-xl-5 py-lg-3">
				<div class="col-lg-6 wthree-services-left img-2-w3  text-center">
					<img src="images/projektlogga.png" alt="" class="img-fluid">
				</div>
				<div class="col-lg-6 wthree-services-right left-w3">
					<h3 class="title mb-lg-5 mb-sm-4 mb-3">
						<span>W</span>e
						<span>T</span>ransports</h3>
					<div class="wthree-services-right-bottom">
						<div class="row services-right-bottom-bottom">
							<div class="col-2 services-bottom-icon text-center">
								<i class="fab fa-apple"></i>
							</div>
							<div class="col-sm-8 col-10 services-bottom-info text-w3l">
								<h5 class="mb-sm-3 mb-2">Food & Beverage</h5>
								<p>In hac habitasse platea dictumst. Proin et ipsum non augue porttitor mollis eget semper nisl.</p>
							</div>
						</div>
						<div class="row services-right-bottom-bottom my-4">
							<div class="col-2 services-bottom-icon text-center">
								<i class="fab fa-docker"></i>
							</div>
							<div class="col-sm-8 col-10 services-bottom-info text-w3l">
								<h5 class="mb-sm-3 mb-2">Energy Oil & Gas</h5>
								<p>In hac habitasse platea dictumst. Proin et ipsum non augue porttitor mollis eget semper nisl.</p>
							</div>
						</div>
						<div class="row services-right-bottom-bottom">
							<div class="col-2 services-bottom-icon text-center">
								<i class="fas fa-dolly"></i>
							</div>
							<div class="col-sm-8 col-10 services-bottom-info text-w3l">
								<h5 class="mb-sm-3 mb-2">Retail Package Good</h5>
								<p>In hac habitasse platea dictumst. Proin et ipsum non augue porttitor mollis eget semper nisl.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //feature -->

	<!-- middle section -->
	<div class="middle-w3l py-sm-5 py-4">
		<div class="container py-xl-5 py-lg-3">
			<h2>reach your destination 100% sure and safe</h2>
			<p class="my-md-4 my-2">Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.</p>
			<a href="contact.html" class="btn btn-secondary btn-lg button2-w3l mt-4" role="button" aria-pressed="true">Contact Us</a>
		</div>
	</div>
	<!-- //middle section -->

	<!-- footer -->
	
	<!-- //footer -->


	<a href="#" id="toTop" style="display: block;">
		<span id="toTopHover" style="opacity: 1;"> </span>
	</a>
	<!-- //smooth scrolling-bottom-to-top -->
	<!-- //Js files -->

</body>