@model go2sweden.Models.IndexViewModel;

@{
    ViewData["Title"] = @Model.Title;
}

@section header {
	<script src="js/SmoothScroll.min.js"></script>
	<script src="js/move-top.js"></script>
	<script src="js/easing.js"></script>
    <script src="~/js/index.js"></script>
    <link rel="stylesheet" href="~/css/index.css"></link>
	<link rel="stylesheet" href="~/css/site.css"></link>

	<!-- Google APIs -->
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC783CNaK-JL_QD2aAX75j8jyvBYo2KoUs&callback=initMap&libraries=places" type="text/javascript"></script>
}

<body ng-app="myapp">
			<div ng-controller="ApiController">
				<div class="item1 active">
					<div class="w3l-overlay">
						<div class="container">
							<div class="slider-text text-white p-lg-5 p-4">
								<h6>Sök din resa genom OS 2024</h6>
								<h3 class="mt-lg-3 mt-2 mb-lg-4 mb-3">Från hela världen till OS byn</h3>
								<div class="form-group">
									<label class="col-form-label">From</label>
									<input ng-model="depatureDestination" googleplace type="text" class="form-control" placeholder="Where do you want to travel from?" name="to" id="fromDestination" required="">
								</div>
								<div class="form-group">
									<label class="col-form-label">To</label>
									<select ng-model="arrivalDestination" class="category form-control" id="toDestination" required="">
										<option value="Stockholm" ng-selected>Stockholm</option>
										<option value="Åre">Åre</option>
										<option value="Falun">Falun</option>
									</select>
								</div>
								<a href="#searchResults" ng-click="getData()" id="apisearch" class="btn btn-success">SEARCH</a>
								
							</div>
						</div>
					</div>
					</div>
	<br>
<a id="searchResults"></a>

					<div id="googleMap" style="height:600px;"></div> 
	<div class="container">
		<h1>{{depatureDestination}} {{toDest()}}</h1>
		<br>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Resväg</th>
      <th scope="col">Restid</th>
      <th scope="col">Pris</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="route in routes">

          <td ng-click="toggle=!toggle"><span ng-repeat="segment in route.segments"><span ng-hide="toggle" class="{{setIcon(vehicles[segment.vehicle].kind)}}"> </span>  
<div ng-show="toggle">
<h3><span class="{{setIcon(vehicles[segment.vehicle].kind)}}"></span>{{" " + vehicles[segment.vehicle].name}}</h3>
<p>{{timeTransfer(segment.transferDuration)}}</p>
<h6>Travel duration :  {{timeChange(segment.transitDuration)}}</h6>
<div>{{places[segment.depPlace].shortName}} to {{places[segment.arrPlace].shortName}} </div><br>
</div>
 </span>
</td>

	<td>{{timeChange(route.totalDuration)}}</td>
    <td>{{route.indicativePrices[0].price + " " + route.indicativePrices[0].currency}}</td>	  
    </tr>
  </tbody>
</table>
	</div>
	<!-- middle slider -->
	
	<!-- //middle slider -->

	<!-- feature -->
	<div class="spe-w3l py-sm-5 py-4">
		<div class="container-fluid">
			<a id="evenemang"></a>
			<div class="about-w3l py-sm-5 py-4">
				<div class="container py-xl-5 py-lg-3">
					<h3 class="title mb-lg-5 mb-sm-4 mb-3">
						<span>E</span>venemang</h3>
					<div class="row">
						<div class="col-xl-7 ab-left">
							<img src="images/projektlogga.png" alt=" " class="img-fluid" />
						</div>
						<div class="col-xl-5 ab-right">
							<h3 class="mb-4 pb-4">Sverige OS 2024</h3>
							<p>Thank you for taking the time to visit our site! sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							<p class="mt-3">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //feature -->

	<div class="container">


            
                
                <a class="btn btn-primary" ng-click="getschema(); getcityschema(); all=true; stockholm=false; are=false; falun=false;">Alla</a>
                <a class="btn btn-primary" ng-click="getschema(); getcityschema(); all=false; stockholm=true; are=false; falun=false;">Stockholm</a>
                <a class="btn btn-primary" ng-click="getschema(); getcityschema(); all=false; stockholm=false; are=true; falun=false;">Åre</a>
                <a class="btn btn-primary" ng-click="getschema(); getcityschema(); all=false; stockholm=false; are=false; falun=true;">Falun</a>

            
        

    

    <table class="table table-hover">
        <thead>
            <tr>
                
                <th scope="col">Sporter</th>
                <th scope="col">Events</th>

            </tr>

            <br> <br>
        </thead>

        <tbody ng-show="all">
            <tr ng-repeat="city in alldata">
                <span>
                <td>
                    <img id="customers" src="images/{{city.sports_img}}" />
                </td>
                <td ng-click="event=!event">
                    <h4> {{city.sports_name_swe}}</h4>
                    <div ng-show="event"> 
                        <h2>{{calcity(city.sports_cities_id)}}</h2>
                     </div>   
                </td>
                </span>
            </tr>
        </tbody>
        <tbody ng-show="stockholm">
            <tr>

                <td>
                    <img id="customers" src="images/CER.png" />
                </td>
                <td ng-click="event=!event">
                    <h4>Ceremoni</h4>
                    <div ng-show="event"> 
                        <h5><img id="smallones" src="images/day.png" />Fredag 9</h5>
                     </div> 
                </td>
				</tr>
			    <tr ng-click="curling=!curling">
				<td>
                    <img id="customers" src="images/CUR.PNG" />
                </td>
					<td>
                    <h4>Curling</h4>
                    <div ng-show="curling"> 
                        <h5><img id="smallones" src="images/day.png" />Torsdag 8</h5>
                        <h5><img id="smallones" src="images/day.png" />Fredag 9</h5>
                        <h5><img id="smallones" src="images/day.png" />Lördag 10</h5>
                        <h5><img id="smallones" src="images/day.png" />Söndag 11</h5>
                        <h5><img id="smallones" src="images/day.png" />Måndag 12</h5>
                        <h5><img id="smallones" src="images/medal.png" />Tisdag 13</h5>
                        <h5><img id="smallones" src="images/day.png" />Onsdag 14</h5>
                        <h5><img id="smallones" src="images/day.png" />Torsdag 15</h5>
                        <h5><img id="smallones" src="images/day.png" />Fredag 16</h5>
                        <h5><img id="smallones" src="images/day.png" />Lördag 17</h5>
                        <h5><img id="smallones" src="images/day.png" />Söndag 18</h5>
                        <h5><img id="smallones" src="images/day.png" />Måndag 19</h5>
                        <h5><img id="smallones" src="images/day.png" />Tisdag 20</h5>
                     </div> 
					 </td>
                </tr>
				<tr ng-click="figurakning=!figurakning">
					<td><img id="customers" src="images/FSK.png" /></td>
					<td><h4>Figuråkning</h4>
					<div ng-show="figurakning">
						<h5><img id="smallones" src="images/day.png" />Fredag 9</h5>
						<h5><img id="smallones" src="images/day.png" />Söndag 11</h5>
						<h5><img id="smallones" src="images/medal.png" />Måndag 12</h5>
						<h5><img id="smallones" src="images/day.png" />Onsdag 14</h5>
						<h5><img id="smallones" src="images/medal.png" />Torsdag 15</h5>
						<h5><img id="smallones" src="images/day.png" />Fredag 16</h5>
						<h5><img id="smallones" src="images/medal.png" />Lördag 17</h5>
						<h5><img id="smallones" src="images/day.png" />Måndag 19</h5>
						<h5><img id="smallones" src="images/medal.png" />Tisdag 20</h5>
					</div>
					</td>
				</tr>
				<tr ng-click="ishockey=!ishockey">
					<td><img id="customers" src="images/IHO.png" /></td>
					<td><h4>Ishockey</h4>
					<div ng-show="ishockey">
						<h5><img id="smallones" src="images/day.png" />Lördag 10</h5>
						<h5><img id="smallones" src="images/day.png" />Söndag 11</h5>
						<h5><img id="smallones" src="images/day.png" />Måndag 12</h5>
						<h5><img id="smallones" src="images/day.png" />Tisdag 13</h5>
						<h5><img id="smallones" src="images/day.png" />Onsdag 14</h5>
						<h5><img id="smallones" src="images/day.png" />Torsdag 15</h5>
						<h5><img id="smallones" src="images/day.png" />Fredag 16</h5>
						<h5><img id="smallones" src="images/day.png" />Lördag 17</h5>
						<h5><img id="smallones" src="images/day.png" />Söndag 18</h5>
						<h5><img id="smallones" src="images/day.png" />Måndag 19</h5>
						<h5><img id="smallones" src="images/day.png" />Tisdag 20</h5>
					</div>
					</td>
				</tr>
				<tr ng-click="Kortbaneakning=!Kortbaneakning">
					<td><img id="customers" src="images/STK.png" /></td>
					<td><h4>Kortbaneåkning</h4>
					<div ng-show="Kortbaneakning">
						<h5><img id="smallones" src="images/medal.png" />Lördag 10</h5>
						<h5><img id="smallones" src="images/medal.png" />Tisdag 13</h5>
						<h5><img id="smallones" src="images/medal.png" />Lördag 17</h5>
						<h5><img id="smallones" src="images/medal.png" />Tisdag 20</h5>
				
					</div>
					</td>
				</tr>
				<tr ng-click="Hastighetsakning=!Hastighetsakning">
					<td><img id="customers" src="images/SSK.png" /></td>
					<td><h4>Hastighetsåkning</h4>
					<div ng-show="Hastighetsakning">
						<h5><img id="smallones" src="images/medal.png" />Lördag 10</h5>
						<h5><img id="smallones" src="images/medal.png" />Tisdag 11</h5>
						<h5><img id="smallones" src="images/medal.png" />Lördag 12</h5>
						<h5><img id="smallones" src="images/medal.png" />Tisdag 13</h5>
						<h5><img id="smallones" src="images/medal.png" />Tisdag 14</h5>
						<h5><img id="smallones" src="images/medal.png" />Tisdag 15</h5>
						<h5><img id="smallones" src="images/medal.png" />Tisdag 16</h5>
						<h5><img id="smallones" src="images/medal.png" />Tisdag 18</h5>
						<h5><img id="smallones" src="images/medal.png" />Tisdag 19</h5>
				
					</div>
					</td>
				</tr>
        </tbody>
		     <tbody ng-show="are">
            <tr>
                <span>
                <td>
                    <img id="customers" src="images/{{city.sports_img}}" />
                </td>
                <td ng-click="event=!event">
                    <h4>Åre</h4>
                    <div ng-show="event"> 
                        <h2>Fredag 9</h2>
                     </div> 
                </td>
                </span>
            </tr>
        </tbody>
		     <tbody ng-show="falun">
            <tr>
                <span>
                <td>
                    <img id="customers" src="images/{{city.sports_img}}" />
                </td>
                <td ng-click="event=!event">
                    <h4>Falun</h4>
                    <div ng-show="event"> 
                        <h2>Fredag</h2>
                     </div> 
                </td>
                </span>
            </tr>
        </tbody>
		

    </table>

    </div>
	<!-- middle section -->
	<div class="middle-w3l py-sm-5 py-4">
		<div class="container py-xl-5 py-lg-3">
						<h2>Olympiska spelen 2024</h2>
			<p class="my-md-4 my-2">Här kan du enkelt och smidigt hitta din resa till de olika OS städerna</p>
			<a href="#" class="btn btn-secondary btn-lg button2-w3l mt-4" role="button" aria-pressed="true">Upp till toppen</a>
		</div>
	</div>
	<a href="#" id="toTop" style="display: block;">
		<span id="toTopHover" style="opacity: 1;"> </span>
	</a>
	<!-- //smooth scrolling-bottom-to-top -->
	<!-- //Js files -->
</div>
<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC783CNaK-JL_QD2aAX75j8jyvBYo2KoUs&libraries=places"></script> -->
</body>