@model go2sweden.Models.IndexViewModel;

@{
    ViewData["Title"] = @Model.Title;
}

@section header {
	<script src="js/SmoothScroll.min.js"></script>
	<script src="js/move-top.js"></script>
	<script src="js/easing.js"></script>
    <script src="~/js/index.js"></script>
    <link rel="stylesheet" href="~/css/index.css"></link>
<link rel="stylesheet" href="~/css/site.css"></link>
}

<body ng-app="myapp">


	<!-- header -->
		<!-- carousel slider -->
			<div ng-controller="ApiController">
				<div class="item1 active">
					<div class="w3l-overlay">
						<div class="container">
							<div class="slider-text text-white p-lg-5 p-4">
								<h6>Sök din resa genom OS 2024</h6>
								<h3 class="mt-lg-3 mt-2 mb-lg-4 mb-3">Från hela världen till OS byn</h3>
								<div class="form-group">
									<label class="col-form-label">From</label>
									<input ng-model="depatureDestination" type="text" class="form-control" placeholder="Where do you want to travel from?" name="to" id="fromDestination" required="">
								</div>
								<div class="form-group">
									<label class="col-form-label">To</label>
									<select ng-model="arrivalDestination" class="category form-control" id="toDestination" required="">
										<option value="Stockholm">Stockholm</option>
										<option value="Åre">Åre</option>
										<option value="Falun">Falun</option>
									</select>
								</div>
								<a href="#searchResults" ng-click="getData()" id="apisearch" class="btn btn-success">SEARCH</a>
								
							</div>
						</div>
					</div>
					
					</div>
					
				
		<!-- //carousel slider -->

	<!-- //header -->

	<!-- welcome -->
	<!-- <a id="searchResults"></a>
	<div class="about py-sm-5 py-4">
		
		<div class="container">

				<div id="googleMap" style="height:600px;"></div> 
				
			<ul id="names"></ul>
				<div ng-controller="myCtrl" class="container">
					<h2>Visa alla färdmedel</h2>
					<h4>Klicka på kolumnrubrikerna för att sortera listan</h4>
					<table class="table table-hover table-sm" id="names">
						<tbody>
							<tr>
								<th ng-click="orderByMe('id')">Färdmedel</th>
								<th ng-click="orderByMe('namn')">Tid</th>
								<th>
									<span class="pil" ng-click="orderByMe('pris', true)">&uarr;</span>
									Pris 
									<span class="pil" ng-click="orderByMe('pris')">&darr;</span>
									
								</th>
								<th ng-click="orderByMe('test')">Test</th>
							</tr>
						</tbody>
					</table>
				</div>
		</div>
	</div> -->
	
	<!-- //welcome -->
	
	<br>
<a id="searchResults"></a>

	<div class="container">
		<h1>{{depatureDestination + "  " + arrivalDestination}}</h1>
		<br>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Resväg</th>
      <th scope="col">Restid</th>
      <th scope="col">Pris</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="route in routes">

          <td ng-click="toggle=!toggle"><span ng-repeat="segment in route.segments"><span ng-hide="toggle" class="{{setIcon(vehicles[segment.vehicle].kind)}}"> </span>  
<div ng-show="toggle">
<h3><span class="{{setIcon(vehicles[segment.vehicle].kind)}}"></span>{{" " + vehicles[segment.vehicle].name}}</h3>
<p>{{timeTransfer(segment.transferDuration)}}</p>
<h6>Travel duration :  {{timeChange(segment.transitDuration)}}</h6>
<div>{{places[segment.depPlace].shortName}} to {{places[segment.arrPlace].shortName}} </div><br>
</div>
 </span>
</td>

	<td>{{timeChange(route.totalDuration)}}</td>
    <td>{{route.indicativePrices[0].price + " " + route.indicativePrices[0].currency}}</td>	  
    </tr>
  </tbody>
</table>

<!-- Har två knappar redo för att vissa och gömma information
<button ng-click="tripShow();" ng-hide="showTrip">Start</button>
<button ng-click="tripShow();" ng-show="showTrip">Stop</button>
<div ng-show="showTrip">hej</div><div ng-hide="showTrip">hejdå</div> -->
	</div>
	<!-- middle slider -->
	<div class="w3agile-spldishes py-sm-5 py-4">
		<div class="container  py-xl-3">
			<h3 class="title text-white text-center mb-lg-5 mb-sm-4 mb-3">
				<span>S</span>täder
				<span>OS</span>2024</h3>
			<div class="spldishes-grids">
				<div class="large-12 columns">
					<!-- Owl-Carousel -->
					<div id="owl-demo" class="owl-carousel owl-theme text-center agileinfo-gallery-row">
						<a class="item g1">
							<img class="lazyOwl img-fluid" src="images/are.jpg" title="Åre" alt="" />
						</a>
						<a class="item g1">
							<img class="lazyOwl img-fluid" src="images/hammarbybacken.jpg" title="Hammarbybacken" alt="" />
						</a>
						<a class="item g1">
							<img class="lazyOwl img-fluid" src="images/falun.jpg" title="Falun" alt="" />
						</a>
						<a class="item g1">
							<img class="lazyOwl img-fluid" src="images/falun1.jpeg" title="Falun" alt="" />
						</a>
						<a class="item g1">
							<img class="lazyOwl img-fluid" src="images/are1.jpg" title="Falun" alt="" />
						</a>
						<a class="item g1">
							<img class="lazyOwl img-fluid" src="images/globen.jpg" title="Falun" alt="" />
						</a>
					</div><br>
					<a class="button secondary btn py-2 px-4 stop" ng-click="goEvent();" ng-hide="going">Stop</a>
					<a class="button secondary btn py-2 px-4 play" ng-click="goEvent();" ng-show="going">Start</a>
				</div>
			</div>
		</div>
	</div>
	<!-- //middle slider -->

	<!-- feature -->
	<div class="spe-w3l py-sm-5 py-4">
		<div class="container-fluid">
			<div class="about-w3l py-sm-5 py-4">
				<div class="container py-xl-5 py-lg-3">
					<h3 class="title mb-lg-5 mb-sm-4 mb-3">
						<span>E</span>venemang</h3>
					<div class="row">
						<div class="col-xl-7 ab-left">
							<img src="images/projektlogga.png" alt=" " class="img-fluid" />
						</div>
						<div class="col-xl-5 ab-right">
							<h3 class="mb-4 pb-4">Sverige OS 2024</h3>
							<p>Thank you for taking the time to visit our site! sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							<p class="mt-3">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //feature -->

	<!-- middle section -->
	<div class="middle-w3l py-sm-5 py-4">
		<div class="container py-xl-5 py-lg-3">
						<h2>Olympiska spelen 2024</h2>
			<p class="my-md-4 my-2">Här kan du enkelt och smidigt hitta din resa till de olika OS städerna</p>
			<a href="#" class="btn btn-secondary btn-lg button2-w3l mt-4" role="button" aria-pressed="true">Upp till toppen</a>
		</div>
	</div>
	<!-- //middle section -->

	<!-- footer -->
	
	<!-- //footer -->

<!-- <div class="about py-sm-5 py-4">
		
		<div class="container">

				
			<ul id="transportmode"></ul>
				<div class="popup"  ng-app="myApp" ng-controller="myCtrl" class="container">
					<h2>Visa alla färdmedel</h2>
					<h4>Klicka på kolumnrubrikerna för att sortera listan</h4>
					<table class="table popup table-onClick='myFunction()' table-sm" id="transportmode">
						<tbody>
							<tr>
								<th ng-click="orderByMe('id')">Färdmedel</th>
								<span class="popuptext" id="myPopup">A Simple Popup!</span>
							</tr>
							
						</tbody>
					
					</table>
				</div>
		</div>
	</div> -->


	<a href="#" id="toTop" style="display: block;">
		<span id="toTopHover" style="opacity: 1;"> </span>
	</a>
	<!-- //smooth scrolling-bottom-to-top -->
	<!-- //Js files -->
</div>
</body>