@{
    ViewData["Title"] = "Kontakt Page";
}
@section header {
	<script src="js/SmoothScroll.min.js"></script>
	<script src="js/move-top.js"></script>
	<script src="js/easing.js"></script>
    <script src="~/js/Home/index.js"></script>
    <link rel="stylesheet" href="~/css/index.css"></link>
}
<body>
	<!-- header -->
	<header>

		<!-- inner banner -->
		<div class="inner-banner text-center text-white">
			<ul class="w3_short">
				<li>
					<a asp-area="" asp-controller="Home" asp-action="Index">Hem</a>
					<i>||</i>
				</li>
				<li>Kontakt</li>
			</ul>
		</div>
		<!-- //inner banner -->
	</header>
	<!-- //header -->

	<!-- contact -->
	<div class="contact py-sm-5 py-4">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="title mb-sm-4 mb-3">
				<span>C</span>ontact
				<span>U</span>s</h3>
			<div class="row">
				<div class="col-lg-7 contact-grid-agiles-w3l">
					<div class="contact-grid-agile">
						<form action="#" method="post">
							<div class="form-group">
								<input class="form-control" type="text" placeholder="Name" name="name" required="">
							</div>
							<div class="form-group">
								<input class="form-control" type="email" placeholder="Email" name="email" required="">
							</div>
							<div class="form-group">
								<input class="form-control" type="text" placeholder="Subject" name="subject" required="">
							</div>
							<div class="form-group">
								<textarea class="form-control" placeholder="Message.." name="message" required=""></textarea>
							</div>
							<input type="submit" class="btn" value="Send Now">
						</form>
					</div>
					<div class="contact-right2 mt-4">
						<div class="row call ">
							<div class="col-4 contact-grdr-w3l">
								<h2>Call us :</h2>
							</div>
							<div class="col-8 contact-grdr-w3l">
								<ul>
									<li>123 456 789</li>
								</ul>
							</div>
						</div>
						<div class="row call my-4">
							<div class="col-4 contact-grdr-w3l">
								<h3>Locate us :</h3>
							</div>
							<div class="col-8 contact-grdr-w3l">
								<ul>
									<li>123 Newton Skola</li>
								</ul>
							</div>
						</div>
						<div class="row call">
							<div class="col-4 contact-grdr-w3l">
								<h3>Mail us :</h3>
							</div>
							<div class="col-8 contact-grdr-w3l">
								<ul>
									<li>
										<a href="">OS_2024@newton.se</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-5 contact-right1 text-center mt-lg-0 mt-sm-5 mt-4">
					<img src="images/projektlogga.png" alt="" class="img-fluid"/>
				</div>
			</div>
		</div>
	</div>
    </body>